table{
    padding: 10px;
    margin: auto;
    text-align: center;
    width: 100%;
}
thead{
    background-color: #4285F4;
    padding:12px ;
    color: white;
    text-transform: uppercase;
}
thead:hover{
    background-color:#2262c8 !important;
    padding:12px ;
    color: white;
}
th{
    padding: 10px;
    font-weight: 500;
    font-size: 14px;
}
tbody{
    background-color: #efefef;
    color: black;
    margin: 15px;
}
tbody:hover{
    background-color: #e1e4e9;
    color: black;
    margin: 15px;
}
td{
    padding:12px;
}