body{
    background: #acb6e5;  
    background: -webkit-linear-gradient(to right, #86fde8, #acb6e5); 
    background: linear-gradient(to right, #86fde8, #acb6e5); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-origin: border-box;
    font-family:'Times New Roman', Times, serif
}   